<link rel="stylesheet" href="/assets/footer.css" type="text/css" />

<footer>
  <div class="footer">
    <div class="ui container">
      <div class="item">
        <i class="football ball icon"></i>American Football Blog
        <i class="shield alternate icon"></i>Shield protect
        <i class="copyright outline icon"></i>Copyright 2020
      </div>

      <div class="item">
        <a href="https://www.instagram.com/" target="_blank" class="item"
          ><i class="instagram icon"></i
        ></a>
        <a href="https://www.facebook.com/" target="_blank" class="item"
          ><i class="facebook icon"></i
        ></a>
        <a href="https://twitter.com/?lang=en/" target="_blank" class="item"
          ><i class="twitter icon"></i
        ></a>
        <a href="https://youtube.com/" target="_blank" class="item"
          ><i class="youtube icon"></i
        ></a>
      </div>
    </div>
  </div>
</footer>
