<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <title>Football Blog</title>
  </head>
  <header>
    <div
      class="ui fixed inverted menu"
      style="background-color:rgb(0, 0, 184);"
    >
      <div class="ui container">
        <div class="header item">
          <i class="football ball icon" style="font-size: 30px;"></i>American
          Football Blog
        </div>
        <a href="/" class="item">Home</a>
        <a href="/blogs/new" class="item">New</a>
        <div class="right menu"></div>
        <a href="#" class="item"> <i class="user icon"></i>Login</a>
        <a href="#" class="item">Sign up</a>
      </div>
    </div>
  </header>
</html>
