19 lines (18 sloc) 685 Bytes <%- include("../partials/header") %>
<body class="wrapper">
  <div class="ui main text container segment" style="margin:7em 0 7em 0;">
    <div class="ui huge header">New Blog</div>

    <form class="ui form" action="/blogs/<%= blog._id%>/comments" method="POST">
      <div class="field">
        <label>Author</label>
        <input type="text" name="comment[author]" placeholder="Author" />
      </div>
      <div class="field">
        <label>Your Comment</label>
        <textarea type="text" name="comment[text]"></textarea>
      </div>
      <button class="ui teal basic button" type="submit">COMMENT</button>
    </form>
  </div>
</body>
